/*Varialbes globales*/
:root {
    --azul: #005d89;
    --grisClaro: #DFF2F8;
    --patito: #FEC401;
    --crema: #FFE783;

    --verdeCrema: #6AE677;
    --azulCrema: #6BD7E7;
    --amarilloCrema: #FFE783;
    --amarilloCremaClaro: #FBF4DE;

    --fuente: "Montserrat", sans-serif;
}

/*Estilos del contenedor principal*/
.container{
    max-width: 1700px;
    margin: 40px auto;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/*Estilos para cada clase archivada*/
.archivado{
    max-width: 380px;
    min-width: 350px;
    background-color: #DFF2F8aa;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}

.archivado__info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 10px 0;
}

.archivado__prof {
    background-color: #FEC401;
    padding: 7px 20px;
    border-radius: 30px;
    text-align: center;
    margin: 10px 0;
}

.archivado__texto {
    margin-right: 30px;
}

.archivado__fecha {
    color: white;
    border: solid 2px white;
    text-align: center;
    border-radius: 20px;
    padding: 2px 20px;
}

.archivado__hora {
    color: white;
    font-weight: 700;
    border: solid 2px white;
    text-align: center;
    border-radius: 20px;
    padding: 2px 20px;
}

/*Estulos de la imagen de archivado*/
.archivado__img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
}

.archivado__estado {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
    text-align: center;
    font-size: 18px;
}

.archivado__detalles--btn {
    border: 0;
    border: solid 2px var(--patito);
    background-color: rgba(255, 155, 155, 0);
    margin: 20px 0;
    padding: 5px 50px;
    border-radius: 20px;
    color: var(--patito);
    transition: .2s;
}

.archivado__detalles--btn:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgba(236, 181, 0, 1);
    color: white;
    border: 0;
}

/* Elementos del menu para elegir entre que mostrar */ 
.menuSeguimiento {
    background-color: var(--grisClaro);
    border-radius: 20px;
    color: var(--azul);
    padding: 10px;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    height: 47px;
}

.menuSeguimiento {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuSeguimiento button{
    text-decoration: none;
    margin: 0 20px;
    color: var(--azul);
    background: none;
    cursor: pointer;
    border: 0;
    transition: .4s;
}

.menuSeguimiento button:hover {
    color: var(--amarilloCrema)
}

.menuSeguimiento button.abierto {
    color: #FEC401;
    border-bottom: solid 2px #FEC401;
    padding-bottom: 5px;
}

/* Ocultar las cartas que se desea */
.archivado.noMostrar {
    display: none;  /*es como si no existiera*/
}


/* MOstrar la informacion de cada cita archivada */
#informacionCitaArchivada {
    border: 0;
    border-radius: 20px;
}

.razon_tutoria {
    text-align: center;
    display: grid;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    width: 320px;
}

.archivado__img {
    display: block;
    margin: 10px auto;

}

.razon__fecha_hora {
    width: 280px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: var(--verdeCrema);
    border-radius: 10px;
    padding: 0 20px;
}

.nombres {
    width: 280px;
    text-align: center;
    border-radius: 10px;
    color: var(--patito);
    border: solid 2px var(--patito);
    padding: 2px 0;
    margin-bottom: 10px;
}

.tituloObservacion,
.tituloRazon {
    text-align: start;
    color: black;
    margin: 10px 0;
}

.observacion,
.razon {
    min-height: 70px;
    width: 280px;
    border-radius: 10px;
    color: black;
    border: solid 2px black;
    padding: 10px 0;
    margin-bottom: 10px;
}

.button--cerrar {
    background-color: red;
    margin: 10px;
    padding: 3px 10px;
    border: 0;
    border-radius: 10px;
    width: 100px;
    transition: .2s;
}

.button--cerrar:hover {
    transform: scale(1.05);
    cursor: pointer;
}

dialog::backdrop{
    /* background-color: rgba(0,0,0,0.55); */
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}


