dialog {
    /*display: none;*/
    opacity: 0;
    pointer-events: none;
    border: none;
    top: 50px;

  }

dialog.mostrarModal {
  /*display: block;*/
}
  
  dialog[open] {
    opacity: 1;
    pointer-events: auto;
    animation: slidein .5s forwards;
    transition: .5s;
  }
  
  dialog::backdrop {
    /*background-color: rgba(0, 0, 0, 0.6);*/
    animation: fadeinPerfil .5s forwards;
    transition: .5s;
    backdrop-filter: blur(5px);
  }

  dialog::backdrop.perfil {
    animation: fadeinPerfil .5s forwards;
    transition: .5s;
  }
  
  dialog.close[open] {
    animation: slideout .5s forwards;
  }
  
  dialog.close::backdrop {
    animation: fadeout .5s forwards;
  }

  dialog.perfil::backdrop.close {
    animation: fadeoutPerfil .5s forwards;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      backdrop-filter: blur(5px);
    }
  }

  @keyframes fadeinPerfil {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeout {
    from {
      opacity: 1;
      backdrop-filter: blur(5px);
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeoutPerfil {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes slidein {
    from {
      transform: translateY(-10%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  @keyframes slideout {
    from {
      transform: translateY(0%);
      opacity: 1;
    }
    to {
      transform: translateY(-10%);
      opacity: 0;
    }
  }
  