/*Importar fuente de letras*/
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@500&family=Open+Sans&display=swap');

/*Varialbes globales*/
:root {
    --azul: #005d89;
    --grisClaro: #DFF2F8;
    --patito: #FEC401;
    --crema: #FFE783;

    --verdeCrema: #6AE677;
    --azulCrema: #6BD7E7;
    --amarilloCrema: #FFE783;
    --amarilloCremaClaro: #FBF4DE;

    --fuente: "Montserrat", sans-serif;
}

/*Estilos de la tabla del horario*/
.tabla__horario {
    margin: 50px auto;
    border-spacing: 0;
    table-layout: fixed;
}

.tabla__horario th {
    width: 130px;
    padding: 5px;
    background-color: var(--grisClaro);
    height: 5.4rem
}

.tabla__horario td {
    background-color: var(--grisClaro);
    border: 3px solid var(--azul);
}

.tabla__horario th,
.tabla__horario { 
    border: 3px solid var(--azul);
    border-collapse: collapse;
}

.horario__principal div {
    width: 130px;
    height: 2.7rem;
    transition: .3s;
}

/*Estulos de actualizar horario*/
.horario__actualizar button,
.horario__actualizar a,
.horario__principal button,
.horario__principal a {
    font-family: var(--fuente);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 6rem;
    width: 20rem;
    padding: 10px 0;
    background-color: var(--patito);
    border-radius: 10px;
    transition: .4s;
    color: #000;
}

.horario__actualizar button.boton_horario:hover,
.horario__actualizar a.boton_horario:hover,
.horario__principal button.boton_horario:hover,
.horario__principal a.boton_horario:hover {
    transform: scale(1.10);
    cursor: pointer;
    background-color: rgba(236, 181, 0, 1);
}

/* horario actualizar */
/*section.formulario,*/
.horario__actualizar {
    background-color: var(--grisClaro);
    border-radius: 10px;
    padding: 0 50px;
    /*position: fixed;*/
    left: 50%;
    top: 50%;
    margin-left: -587px;
    margin-top: -341.5px;
    /*visibility: hidden; 
    opacity: 0; */
    transition: 0.5s;
}

.horario__actualizar .boton_horario{
    margin-top: -2rem;
    margin-bottom: 4rem;
}

/* Cuando quiero cerrar el efecto blur, el enlace a
no me lo permite asi que le quito el evento */

/* Si tiene algun color entonces si se le da el evento*/
/* estp para que no se recargue la pagina */
section a,
dialog a{
    pointer-events: none;
}

dialog a{
    pointer-events: none;
}

.navegacionGeneral a,
.horario__actualizar a,
.principal_alumno a.pintarAmarillo,
.principal_tutor a.pintarAzul {
    pointer-events: all;
}

#blur {
    transition: 0.5px;
}

#blurBackground {
    transition: 0.5s;
}

#blurBackground.activate {
    background-image: url(../images/fondito2blur.png);
}

#blur.activate {
    width: 100%;
    position: fixed!important;
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
    position: relative;
}

/* Cuando quiero cerrar el efecto blur, el enlace a
no me lo permite asi que le quito el evento */
#blur.activate a{
    pointer-events: none;
}

#dialog.show {
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
}

/* Colorear area de casillas marcadas de amarillo claro
casillas no disponibles */
.horario__alumno tr a.pintarAmarilloClaro {
    cursor: none;
    background-color: var(--amarilloCremaClaro);
}

/* Colorear area de casillas marcadas */
.horario__principal tr a,
.horario__actualizar tr a{
    background-color: var(--grisClaro);
    margin: 0;
    padding: 0;
    width: 130px;
    height: 2.7rem;
    border-radius: 0;
    cursor: auto;
}

section.horario__principal a.pintarAmarillo{
    cursor: pointer;
}

.horario__actualizar tr a {
    cursor: pointer;
}


.horario__actualizar a:hover {
    background-color: red;
}

.horario__principal a.pintarAmarillo,
.horario__actualizar a.pintarAmarillo {
    background-color: var(--amarilloCrema);
}

.horario__principal a.pintarVerde,
.horario__actualizar a.pintarVerde {
    background-color: var(--verdeCrema);
}

.horario__principal a.pintarAzul,
.horario__actualizar a.pintarAzul {
    background-color: var(--azulCrema);
    cursor: pointer;
}

.horario__principal a.despintar {
    background-color: var(--grisClaro);
}

/* LEYENDA DE COLORES */
.leyenda_colores {
    text-align: center;
    margin: 7rem 0 5rem 0;
    color: var(--grisClaro);
    font-family: var(--fuente);
}

.leyenda_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 35px;
}

.leyenda_colores .leyenda_color {
    height: 10px;
    width: 4rem;
    background-color: var(--patito);
    margin: 0 20px;
    border-radius: 10px;
}

.leyenda_colores .color_azul {
    background-color: var(--azulCrema);
}

.leyenda_colores .color_amarillo {
    background-color: var(--amarilloCrema);
}

.leyenda_colores .color_verde {
    background-color: var(--verdeCrema);
}

.leyenda_colores .color_amarillo_claro {
    background-color: var(--amarilloCremaClaro);

}

.leyenda_Recomendacion {
    background-color: var(--grisClaro);
    border-radius: 20px;
    color: var(--azul);
    padding: 1px;
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

/* RUTINA 9 : SUSPENDER UNA CITA */
#dialogSuspender.show {
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
}

/* RUTINA 10 : CONCLUIR UNA CITA */
#dialogTerminar.show {
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
}

/* Evitar que se escriba algo */ 
#razonTutoria.noEscribir {
    pointer-events: none;
}   


/* Botones para cerrar la ventana dialog */
/* Estilos para el boton de cerrar la ventana de actualizar */
.horario__actualizar .botonCerrar {
    position: absolute;
    background-color: red;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    color: white;

    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.horario__actualizar .botonCerrar.cerrarHorarioActualizar {
    top: 12px;
    right: 12px;
}

.botonCerrar.informacionTutoria {
    top: 6px;
    right: 6px;
}