@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@500&family=Open+Sans&display=swap');

:root {
    --azul: #005d89;
    --grisClaro: #DFF2F8;
    --patito: #FEC401;
    --crema: #FFE783;

    --verdeCrema: #6AE677;
    --azulCrema: #6BD7E7;
    --amarilloCrema: #FFE783;

    --fuente: "Montserrat", sans-serif;
}

.tabla__horario {
    margin: 50px auto;
    border-spacing: 0;
    table-layout: fixed;
}

.tabla__horario th {
    width: 130px;
    padding: 5px;
    background-color: var(--grisClaro);
    height: 5.4rem
}

.tabla__horario td {
    background-color: var(--grisClaro);
    border: 3px solid var(--azul);
}

.tabla__horario th,
.tabla__horario { 
    border: 3px solid var(--azul);
    border-collapse: collapse;
}

.horario__principal div {
    width: 130px;
    height: 2.7rem;
    transition: .3s;
}

.horario__actualizar button,
.horario__actualizar a,
.horario__principal button,
.horario__principal a {
    font-family: var(--fuente);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 6rem;
    width: 20rem;
    padding: 10px 0;
    background-color: var(--patito);
    border-radius: 10px;
    transition: .4s;
    color: #000;
}

.horario__actualizar button.boton_horario:hover,
.horario__actualizar a.boton_horario:hover,
.horario__principal button.boton_horario:hover,
.horario__principal a.boton_horario:hover {
    transform: scale(1.10);
    cursor: pointer;
    background-color: rgba(236, 181, 0, 1);
}

/* horario actualizar */
/*section.formulario,*/
section.horario__actualizar {
    background-color: var(--grisClaro);
    border-radius: 10px;
    padding: 0 50px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -587px;
    margin-top: -341.5px;
    visibility: hidden; 
    opacity: 0; 
    transition: 0.5s;
}

section.horario__actualizar .boton_horario{
    margin-top: -2rem;
    margin-bottom: 4rem;
}

#blur {
    transition: 0.5px;
}

#blurBackground {
    transition: 0.5s;
}

#blurBackground.activate {
    background-image: url(../images/fondito2blur.png);
}

#blur.activate {
    width: 100%;
    position: fixed!important;
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
    position: relative;
}

#dialog.show {
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
}

/* Colorear area de casillas marcadas */
.horario__principal tr a,
.horario__actualizar tr a{
    background-color: var(--grisClaro);
    margin: 0;
    padding: 0;
    width: 130px;
    height: 2.7rem;
    border-radius: 0;
    cursor: auto;
}

.horario__alumno tr a.pintarAmarillo{
    cursor: pointer;
}

.horario__actualizar tr a {
    cursor: pointer;
}


section.horario__actualizar a:hover {
    background-color: red;
}

section.horario__principal a.pintarAmarillo,
section.horario__actualizar a.pintarAmarillo {
    background-color: var(--amarilloCrema);
}

section.horario__principal a.pintarVerde,
section.horario__actualizar a.pintarVerde {
    background-color: var(--verdeCrema);
}