.perfil {
    background-color: transparent;
    position: relative;
    width: 90%;
    height: 100%;
    padding-left: 1100px;
}

.container_user{
    padding-top: 58px;
    height: 450px;
    border: none;
    top: 10px;
}

.container_user__img {
    
    object-fit: cover;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
    position: absolute;
    transform: translate(64%,-60px);
    
    /*outline: white 10px solid;*/
}

.container_user__info {
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    /*box-shadow: 5px 5px 30px 5px rgba(0,0,0,0.3);*/
    overflow: hidden;
    text-align: center;
    
}

.container_user__square {
    background-color: #FEC401;
    height: 60%;
    border-radius: 0 0 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.containter_user__name{
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 900;
    font-size: 22px;
    position: relative;
    top: 10%;
}

.containter_user__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
}

.containter_user__datos{
    background-color: #E2E2E2;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    width: 250px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}

.button-profile-OK {
    border: 2px solid #FEC401;
    background-color: white;
    color: #FEC401;
    margin-bottom: 30px;
}

.button-profile-OK:hover{
    background-color: #FEC401;
    color: white;
}