body {
    background-image: url(../images/fondito2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_user__img {
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.5);
    position: absolute;
    transform: translate(50%,-80px);
    outline: white 10px solid;
}

.container_user__info {
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 30px 5px rgba(0,0,0,0.3);
    overflow: hidden;
}

.container_user__square {
    background-color: #FEC401;
    height: 65%;
    border-radius: 0 0 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containter_user__name{
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 900;
    font-size: 22px;
    position: relative;
    top: 15%;
}

.containter_user__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35%;
    gap: 20px;
}

.containter_user__datos{
    background-color: #E2E2E2;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    width: 300px;
    display: flex;
    justify-content: space-between;
}